Django==6.0.2
pymongo==4.16.0
streamlit
pandas
numpy
matplotlib
scikit-learn
sentence-transformers
mongoengine
python-dotenv
google-genai
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langsmith
chromadb